/* birth_flower.css */
main {
    background:url(https://i.pinimg.com/736x/69/eb/4b/69eb4b7965406dacd632f0eed7ee4164.jpg) no-repeat center /cover;
    width:400px; height:800px; 
    margin:0 auto; padding:250px 0;
    text-align:center;
}
main #flower_bg {
    display:flex; justify-content: center;
}
main #flower_bg li {
    margin-bottom:50px;
    margin-right:20px;
}
main #flower_bg li input {
    border-bottom:3px solid #000; 
    width:80px; 
    background:none;
    text-align:center;
}
main #flower_bg li span {
    font-size:1.25rem; font-weight:600;
}
main #flower_bg li .user_month {
    background:none; border-bottom:3px solid #000;
    width:80px; 
    text-align:center;
}
main #flower_bg li .user_month option {}
main #flower_chk_btn {
    width:350px; padding:20px 40px;
    background-color:#4B352A;
    border-radius:50px;
}
main #flower_chk_btn span {
    font-size:1.25rem; font-weight:500;
    color:#fff;
}
main #result {
    margin-top:50px;
    font-size:1.2rem;
}