/* portfolio.css */
main {
    background-color:#f5f5f5;
    padding:50px 0; 
    /* height:max-contents 내용만큼 */
}
main .design {
    width:1400px; margin:0 auto;
    background-color:blue;
    display:flex; flex-flow:row wrap; /* flex는 형제들끼리 맞춰주려는 속성이 있어서 가장 큰 형제 기준으로 크기가 맞춰져버림 */
}
main .design a {
    width:calc((100% - (20px * 3)) / 4);
    margin-right:20px;
    height:200px; /* flex때문에 a가 잡히는 영역이 자동으로 설정되는것을 해결하기 위해 높이값 설정해주기 */
    border:2px solid red;
    overflow:hidden; /* 설정한 크기 안에서만 보이게 설정 */
    margin-bottom:20px; /* 사이를 20px 벌려준만큼 위아래도 설정해주기 */
}
main .design a:nth-child(4n) {margin-right:0;} /* 개수가 늘어날 경우를 대비해서 배수로 수열선택자를 작성해준다. */
main .design a img {
    width:180%; /* 이미지 크기설정 */
    transform:translate(-25%, -15%); /* 크기를 크게 했을 때 위치설정 : transform. position */
}
/* --------------- 클릭 시 실행 팝업 */
.popup_bg {
    position:fixed; left:0; top:0;
    width:100vw; height:100vh;
    background-color:rgba(0,0,0,0.6);
    display:flex; align-items:center; /* 팝업창이 무조건 가운데 있게 설정 */
}
.popup_bg .contents { /* 팝업 -> 무조건 실제크기는 X */
    background-color:#fff;
    width:600px; margin:0 auto;
    height:86vh; /* 화면에 따라가게 설정 : % or vh -> 꽉 채우지 않게 하기 */
    overflow:auto; /* 필요할때만 스크롤이 나옴 */
    border-radius:20px;
}
.popup_bg .contents img {
    width:100%;
}